<p>Someone (probably you) has requested to reset your password on the <b><%= @site.title %></b> website. Click the link below to get started.</p>

<p><%= link_to "Reset My Password", edit_password_reset_url(@user.perishable_token) %></p>

<p>If you didn't make this request, you don't need to do anything. Your account is still secure. If at any point you do want to reset your password, you can do so by clicking the link above.</p>