<p>Someone has requested to reset your Backline CMS password. You use this account to sign in to the following websites: <%= site_titles %>. Click the link below to get started.</p>

<p><%= link_to "Reset My Password", edit_password_reset_url(@user.perishable_token) %></p>

<p>If you didn't make this request, you don't need to do anything. Your account is still secure.</p>