<p>Your Backline CMS account has been given access to the following website: <%= @site.title %>. Click the link below to sign in.</p>

<p><%= link_to "Sign In", sign_in_url(subdomain: @site.subdomain) %></p>

<p>If you didn't request access to this site, you don't need to do anything. No one else can sign in with your email address.</p>