<%= link_to tweet.profile_url, target: "_blank", class: "tweet",
  style: "background-image: url('#{tweet.image_url}');" do %>
  <div class="overlay">
    <div class="name">
      <%= tweet.name %>
    </div>
    <div class="text">
      <%== truncate(tweet.text, length: 90, separator: " ") %>
    </div>
    <div class="posted-at">
      <%= formatted_tweet_time(tweet) %>
    </div>
  </div>
<% end %>