<div class="editor-controls">
  <%= link_to "javascript:void(0)", class: "theme-toggle" do %>
    <%= fa_icon("moon-o") %>
    <%= fa_icon("sun-o", class: "hidden") %>
  <% end %>

  <%= link_to fa_icon("arrows-alt"), "javascript:void(0)", class: "full-screen-toggle" %>
</div>