<h2>Media</h2>
<div id="media">
  <% @videos.each do |video| %>
    <div class="row">
      <div class="col-sm-12">
        <h3><%= video.title %></h3>
        <%== video.embed %>
        <% if video.caption.present? %>
          <p><%= video.caption %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>