@mixin admin-link-gradient($color) {
  background: linear-gradient(to bottom right, $color 0%, $color 50%, darken($color, 30%) 100%);
}

div#admin {
  position: relative;

  %nav-element {
    max-width: 100%;
    width: 345px;
  }

  div#admin-home {
    a {
      @extend %nav-element;
      margin: 0 auto 20px auto;
      padding: 10px 0;
      display: block;
      text-align: center;
      font-family: $header-font;
      font-size: 35px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $blue;
      @include admin-link-gradient($light-grey);
      box-shadow: 0 2px 5px rgba(black, .5);

      &:hover {
        color: darken($blue, 10%);
        @include admin-link-gradient(darken($light-grey, 20%));
      }

      i.fa {
        margin-left: 15px;
        position: relative;
        top: -4px;
      }
    }
  }

  div#admin-dropdown {
    margin-bottom: 15px;

    button.dropdown-toggle {
      @extend %nav-element;
      position: relative;

      &:hover {
        color: $blue;
        background-color: $light-grey;
      }

      i.fa-caret-down {
        position: absolute;
        top: 10px;
        right: 8px;
      }
    }

    ul.dropdown-menu {
      @extend %nav-element;
      text-align: center;
      border-width: 0 0 1px 0;
      border-bottom: 1px solid rgba(black, .4);
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(black, .15);
      background-color: $light-grey;
      background-clip: border-box;

      a {
        padding: 6px 12px;
        font-weight: bold;
        color: $blue;

        &:hover {
          color: white;
          background-color: $blue;
        }
      }
    }
  }

  div#admin-sidebar {
    display: none;

    ul {
      margin: 0;
      padding: 5px 0;
      list-style: none;

      &:not(:last-child) {
        border-bottom: 1px solid #DDDDDD;
      }

      a {
        margin: 0 -1px;
        padding: 7px 10px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        color: #666666;

        &:hover {
          color: white;
          background-color: #AAAAAA;
        }

        &.active {
          color: white;
          background-color: $blue;
          cursor: default;
        }
      }
    }
  }

  a.corner-btn {
    @extend %nav-element;
    margin-bottom: 15px;
    display: block;
  }

  @media (min-width: 768px) {
    div#admin-home {
      a {
        padding: 15px 0;
        float: left;
        font-size: 40px;

        &:nth-child(odd) {
          margin-right: 30px;
        }
      }
    }

    div.corner-container {
      position: absolute;
      top: 0;
      right: 0;

      a.corner-btn {
        width: initial;
        float: left;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    div#admin-dropdown {
      display: none;
    }

    div#admin-sidebar {
      display: block;
    }
  }
}