div#admin table {
  margin-bottom: 15px;
  border-collapse: separate;
  text-shadow: 0 1px 1px rgba(black, .35);

  &.sortable {
    tr {
      &.ui-sortable-helper {
        display: table;
      }

      &:hover, &:active {
        background-clip: padding-box;
        background-color: rgba(black, .5);
      }

      &:active {
        td {
          border-color: transparent;
        }
      }
    }
  }

  tr:last-child {
    td {
      border-bottom: 1px solid rgba(white, .15);
    }
  }

  th {
    border: none;
    font-weight: normal;
  }

  td {
    border-color: rgba(white, .15);
    font-weight: lighter;

    &.inline-controls {
      width: 36px;
    }

    i.fa {
      font-size: 18px;
      line-height: 20px;

      &.fa-check {
        color: $success;
      }

      &.fa-ellipsis-h {
        color: $grey;
      }
    }

    span.position, span.number {
      margin-right: 3px;
    }

    a {
      text-decoration: underline;
      color: white;
      transition: all .3s ease;

      &.disabled {
        color: #999999;
        cursor: not-allowed;
      }

      &:hover {
        color: $slate;
      }
    }

    &.edit {
      min-width: 58px;
      text-align: right;

      a:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}