div#admin {
  %generic-panel {
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(white, .1);

    div.form-group {
      margin: 0;
    }

    div.file-box, div.status-box {
      margin: 10px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  div.file-panel {
    @extend %generic-panel;

    div.form-group {
      margin: 0;
    }
  }

  div.image-panel {
    @extend %generic-panel;
    position: relative;

    button.file-btn {
      display: block;
    }

    div.requirements {
      margin-top: 10px;

      span {
        padding: 0 4px;
        display: inline-block;
        border: 1px solid rgba(black, .15);
        line-height: 18px;

        &.dimensions {
          background-color: $red;

          small {
            margin-left: 1px;
            text-transform: uppercase;
          }
        }
      }

      div.extensions {
        margin-bottom: 5px;

        span {
          background-color: $blue;

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }

    div.image-container {
      max-width: 100%;
      margin-top: 10px;
      display: inline-block;

      img {
        max-height: 315px;
      }
    }

    @media (min-width: 768px) {
      div.requirements {
        margin-top: 0;
        position: absolute;
        top: 15px;
        right: 15px;

        div.extensions {
          float: right;
        }

        span.dimensions {
          float: right;
          clear: right;
        }
      }
    }
  }

  div.video-panel {
    @extend %generic-panel;

    iframe {
      margin-top: 10px;
    }
  }
}