div#admin div.editor-container {
  margin: 15px 0;

  div.tab-pane {
    position: relative;

    div.editor-controls {
      margin-left: 15px;
      position: relative;
      top: -8px;
      float: right;

      a {
        float: left;
        font-size: 18px;
        line-height: 20px;
        color: white;
        transition: all .3s ease;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:hover {
          color: $grey;
        }
      }
    }

    div.editor {
      height: 600px;
      position: relative;
      font-family: $code-font;
      font-size: 15px;
    }

    &.full-screen {
      padding: 15px;
      position: fixed;
      top: $nav-height;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      background-image: url(http://backline-cms.s3.amazonaws.com/images/admin_background.png);
      background-position: center top;

      div.editor {
        height: calc(100% - 20px);
      }
    }
  }
}