div#admin form {
  &.inline-custom {
    input[type="text"] {
      max-width: 100%;
      width: 345px;
    }

    button.file-btn {
      margin-right: 11px;
    }

    @media (min-width: 768px) {
      div.form-group {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 11px;
        }
      }
    }
  }

  label {
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(black, .35);

    &.required:after {
      content: "*";
      margin-left: 3px;
    }
  }

  i.fa-info-circle {
    margin-left: 2px;
    font-size: 16px;
  }

  i.instructions {
    margin: -5px 0 5px 0;

    small {
      text-transform: uppercase;
    }
  }

  div.date-fields {
    select {
      width: auto;
      float: left;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  div.checkbox {
    margin: 15px 0;

    @media (min-width: 768px) {
      &.super-admin {
        margin-top: 25px;
      }
    }
  }

  div.features {
    div.switch-container {
      width: 50%;
      float: left;
    }

    @media (min-width: 768px) {
      div.switch-container {
        width: 25%;
      }
    }
  }

  button.submit-btn {
    margin-right: 11px;
  }
}