div#admin {
  div.heading-box {
    margin-bottom: 15px;
    border: 1px solid #B6B6B6;
    color: #333333;
    background-color: white;
    box-shadow: 0 0 3px rgba(black, .15);

    h3 {
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid #B6B6B6;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      text-transform: uppercase;
      color: $blue;
      background: linear-gradient(to bottom, #F5F5F5, #CFD1CF);
    }

    i.fa-info-circle {
      position: relative;
      top: 1px;
      font-size: 18px;
      color: #B6B6B6;
    }
  }

  %generic-box {
    margin: 15px 0;
    padding: 7px 12px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(black, .35);
    box-shadow: 0 1px 2px rgba(black, .15);
  }

  div.file-box {
    @extend %generic-box;
    background-color: rgba($info, .85);

    &.checked {
      background-color: rgba($danger, .85);
    }

    div.inline-controls {
      margin: 0 4px 0 -4px;
      float: left;
    }

    div.checkbox {
      margin: 0;
    }

    @media (min-width: 768px) {
      div.checkbox {
        float: right;
      }
    }
  }

  div.status-box {
    @extend %generic-box;
    background-color: rgba(#B3B3B3, .85);

    &.checked {
      background-color: rgba($success, .85);
    }
  }

  div.info-box {
    @extend %generic-box;
    background-color: rgba($info, .85);

    i.fa-exclamation-circle {
      margin-right: 5px;
      font-size: 16px;
    }

    a {
      text-decoration: underline;
      color: white;
    }
  }
}