div#admin div.design-editor {
  margin-top: 15px;

  div#images {
    padding-top: 15px;

    div.row {
      margin: 0 -7.5px;

      div.col-sm-6 {
        margin-bottom: 15px;
        padding: 0 7.5px;

        @media (min-width: 768px) {
          div.file-box div.checkbox {
            float: none;
          }
        }
      }

      @media (max-width: 767px) {
        &:last-child div.col-sm-6:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}