div#admin div.design-editor {
  margin-top: 15px;

  div#theme {
    div.theme-field {
      select {
        width: calc(100% - 80px);
        float: left;
      }

      button {
        width: 70px;
        float: right;
      }
    }

    @media (min-width: 768px) {
      div.theme-field {
        width: calc(50% - 15px);
      }
    }

    div.color-field {
      div.minicolors {
        width: calc(100% - 44px);
        float: left;

        &.minicolors-position-bottom div.minicolors-panel {
          top: 34px; // Must be specified because select boxes are floated
        }
      }

      div.theme-color {
        width: 34px;
        float: right;
        border: none;
        box-shadow: none;
      }
    }

    div.font-field {
      select {
        width: calc(100% - 130px);
        float: left;
      }

      div.theme-font {
        width: 120px;
        overflow: hidden;
        padding: 6px 8px;
        float: right;
        white-space: nowrap;
      }
    }

    div.font-sample {
      padding: 10px;
      background-color: rgba(white, .1);

      &#display-font-sample {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 36px;
      }

      @media (min-width: 768px) {
        &#display-font-sample {
          margin-bottom: 18px;
        }
      }
    }
  }

  div#images div.row {
    margin: 0 -7.5px;

    div.col-sm-6 {
      padding: 0 7.5px;

      @media (min-width: 768px) {
        div.file-box div.checkbox {
          float: none;
        }
      }
    }

    @media (max-width: 767px) {
      &:last-child div.col-sm-6:last-child div.image-field {
        margin-bottom: 0;
      }
    }
  }
}