div#admin div.image-field {
  padding: 15px;
  position: relative;
  background-color: rgba(white, .1);

  div.form-group {
    margin-bottom: 10px;

    button.file-btn {
      display: block;
    }
  }

  div.requirements {
    margin-bottom: 10px;

    span {
      padding: 0 4px;
      display: inline-block;
      border: 1px solid rgba(black, .15);
      line-height: 18px;

      &.dimensions {
        background-color: $red;

        small {
          margin-left: 1px;
          text-transform: uppercase;
        }
      }
    }

    div.extensions {
      margin-bottom: 5px;

      span {
        background-color: $blue;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    div.requirements {
      position: absolute;
      top: 15px;
      right: 15px;

      div.extensions {
        float: right;
      }

      span.dimensions {
        float: right;
        clear: right;
      }
    }
  }

  div.file-box {
    margin: 10px 0;
  }
}