@import "variables";
@import "admin_boxes";
@import "admin_forms";
@import "admin_nav";
@import "admin_tables";
@import "ckeditor";
@import "page_editor";
@import "page_preview";
@import "snippets";
@import "validation_errors";

div#admin {
  h2 {
    margin: 10px 0 15px 0;
    font-size: 28px;
    color: $light-grey;
    text-shadow: 0 1px 1px rgba(black, .35);
  }

  i.instructions {
    margin: 0 0 5px 8px;
    display: block;
    font-weight: lighter;
    font-style: normal;
  }
}