@import "jquery-ui-1.11.4.custom";
@import "switchery";
@import "jquery.minicolors";
@import "variables";
@import "admin_boxes";
@import "admin_editors";
@import "admin_forms";
@import "admin_nav";
@import "admin_panels";
@import "admin_sidebars";
@import "admin_snippets";
@import "admin_switches";
@import "admin_tables";
@import "admin_tabs";
@import "ckeditor";
@import "design_fields";
@import "page_preview";
@import "validation_errors";

div#admin {
  h2 {
    margin-top: 0;
    color: $light-grey;
    text-shadow: 0 1px 1px rgba(black, .35);
  }

  i.instructions {
    margin: 0 0 5px 8px;
    display: block;
    font-weight: lighter;
    font-style: normal;
  }
}