div#admin div.page-editor {
  ul.nav-tabs {
    border-bottom: 3px solid $light-grey;

    li {
      a {
        text-transform: uppercase;
        color: white;

        &:hover {
          border-color: transparent;
          background-color: transparent;
        }
      }

      &.active a {
        border-color: $light-grey;
        font-weight: bold;
        color: $blue;
        background-color: $light-grey;
      }
    }
  }

  div.tab-pane {
    padding-top: 10px;
    position: relative;

    div.editor-controls {
      margin-left: 15px;
      position: relative;
      top: -3px;
      float: right;

      a {
        float: left;
        font-size: 18px;
        line-height: 20px;
        color: white;
        transition: all .3s ease;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:hover {
          color: $grey;
        }
      }
    }

    i.instructions {
      margin-top: 0;
    }

    textarea#page_scss, textarea#page_javascript {
      display: none;
    }

    div.editor {
      height: 600px;
      position: relative;
      font-family: $code-font;
      font-size: 15px;
    }

    &.full-screen {
      padding: 10px 15px 15px 15px;
      position: fixed;
      top: $nav-height;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/background1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;

      div.editor {
        height: calc(100% - 30px);
      }
    }
  }
}