div#admin div.snippets {
  margin: 15px 0;
  border: 1px solid #B6B6B6;
  color: #333333;
  background-color: white;
  box-shadow: 0 0 3px rgba(black, .15);

  h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #B6B6B6;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
    background: linear-gradient(to bottom, #F5F5F5, #CFD1CF);
    cursor: pointer;

    i.fa-plus-circle {
      position: relative;
      top: 1px;
      float: right;
      font-size: 18px;
      line-height: 22px;
    }
  }

  ul {
    margin: 0;
    padding: 5px 0;
    display: none;
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid #DDDDDD;
    }

    li.snippet {
      padding: 7px 10px;

      &:hover {
        color: white;
        background-color: $blue;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1200px) {
  div#admin div.snippets {
    width: 210px;
    max-height: 600px;
    overflow-y: scroll;
    margin: 0;
    position: absolute;
    top: 40px;
    right: -225px;

    h3 {
      cursor: default;
    }

    ul {
      display: block !important;
    }
  }
}