<div id="photos">
  <h2 class="page-title"><%= @page.title %></h2>

  <div id="photo-gallery">
    <%= render @photos %>
  </div>

  <div class="pagination-links clearfix">
    <%= pagination_links(@photos) %>
  </div>
</div>