<div id="subscribers" class="fixed-width">
  <h2 class="page-title">Exclusive Content</h2>

  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <%= formatted_subscriber_message %>
    </div>

    <div class="col-sm-6 col-sm-pull-6">
      <%= render "form" %>
    </div>
  </div>
</div>