<div id="subscribers" class="fixed-width">
  <h2 class="page-title">Exclusive Content</h2>

  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <p>Just tell us a few things about yourself to gain access to free content. You'll only have to do this once, then you can download as many times as you want!</p>

      <p>We won't share your information with anyone, and we won't spam you. We just want to know more about the people listening to our music and share occasional announcements with them. And, of course, you'll have the opportunity to opt out of any future communications.</p>

      <p>
        Thanks!<br />
        Todd, Eli, Goose, &amp; Jack
      </p>
    </div>

    <div class="col-sm-6 col-sm-pull-6">
      <%= render "form" %>
    </div>
  </div>
</div>