$brand-font: "Vollkorn", serif;
$audio-font: "Aldrich", sans-serif;
$bright-white: #FFF;
$off-white: #B5B5B5;
$dark-grey: #272727;
$black: #1A1819;
// $gold: #C09853;
$dark-red: #780000;
$light-red: #BD4D4D;