@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,700|Aldrich);

$main-font: "Open Sans", sans-serif;
$audio-font: "Aldrich", sans-serif;
$grey: #666666;
$pink: #FA1E43;
$blue: #10608E;
$red: #860B1D;