$header-font: "Oswald", sans-serif;
$main-font: "Open Sans", sans-serif;
$code-font: "Inconsolata", monospace;
$nav-height: 72px;
$light-grey: #F1F1F1;
$grey: #CCCCCC;
$slate: #ADB0A0;
$blue: #10608E;
$red: #860B1D;
$info: #1789cb;
$success: #21A63A;
$warning: #FFC200;
$danger: #C5232B;