$admin-display-font: "Oswald";
$admin-body-font: "Open Sans";
$code-font: "Inconsolata";
$nav-height: 51px;
$footer-height: 140px;
$light-grey: #F1F1F1;
$grey: #CCCCCC;
$slate: #ADB0A0;
$blue: #10608E;
$red: #860B1D;
$info: #1789CB;
$success: #21A63A;
$warning: #FFC200;
$danger: #C5232B;