@import url(http://fonts.googleapis.com/css?family=Quicksand|Open+Sans:400italic,400,700|Aldrich);

$brand-font: "Quicksand", sans-serif;
$audio-font: "Aldrich", sans-serif;
$white: #F5F5F5;
$grey: #777777;
$black: #0A0A0A;
$red: #780000;
$pink: #FA1E43;