@import "variables";

div#admin {
  h2 {
    margin: 10px 0 15px 0;
    font-size: 28px;
    color: $light-grey;
    text-shadow: 0 1px 1px rgba(black, .35);
  }

  i.instructions {
    display: block;
    font-weight: lighter;
    font-style: normal;
  }

  table {
    margin: 10px 0;
    border-collapse: separate;
    text-shadow: 0 1px 1px rgba(black, .35);

    &.sortable {
      tr {
        &.ui-sortable-helper {
          display: table;
        }

        &:hover, &:active {
          background-clip: padding-box;
          background-color: rgba(black, .5);
        }

        &:active {
          td {
            border-color: transparent;
          }
        }
      }
    }

    tr:last-child {
      td {
        border-bottom: 1px solid rgba(white, .15);
      }
    }

    th {
      border: none;
      font-weight: normal;
    }

    td {
      border-color: rgba(white, .15);
      font-weight: lighter;

      &.inline-controls {
        width: 36px;
      }

      i.fa {
        font-size: 18px;
        line-height: 20px;

        &.fa-check {
          color: $success;
        }

        &.fa-ellipsis-h {
          color: #CCCCCC;
        }
      }

      span.position, span.number {
        margin-right: 3px;
      }

      a {
        text-decoration: underline;
        color: white;
        transition: all .3s ease;

        &:hover {
          color: $slate;
        }
      }

      &.edit {
        min-width: 58px;
        text-align: right;

        a:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  form {
    margin-top: 15px;

    &.inline-custom {
      div.form-group {
        margin-right: 15px;
        float: left;

        input[type="text"] {
          width: 185px;
        }
      }
    }

    label {
      font-weight: normal;
      text-shadow: 0 1px 1px rgba(black, .35);

      &.required:after {
        content: "*";
        margin-left: 3px;
      }
    }

    span.hint {
      float: right;
      font-size: 12px;
      line-height: 20px;
      font-weight: lighter;
      text-decoration: underline;
      color: #CCCCCC;
      cursor: pointer;
    }

    i.fa-info-circle {
      margin-left: 2px;
      font-size: 16px;
    }

    i.instructions {
      margin: -5px 0 5px 0;

      small {
        text-transform: uppercase;
      }
    }

    div.date-fields {
      select {
        width: auto;
        float: left;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    div.preview {
      margin-bottom: 15px;
      position: relative;

      label {
        display: block;
      }

      div.checkbox {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
      }

      img, iframe {
        max-width: 100%;
        box-shadow: 0 2px 5px rgba(black, .5);
      }
    }

    div.checkbox {
      margin: 15px 0;
    }

    %status-box {
      margin: 15px 0;
      padding: 8px 12px;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(black, .35);
      box-shadow: 0 1px 2px rgba(black, .15);
    }

    div.filename {
      @extend %status-box;
      color: $light-grey;
      background-color: rgba(black, .6);

      &.checked {
        color: white;
        background-color: rgba($danger, .85);
      }

      div.inline-controls {
        margin-right: 8px;
        float: left;
      }

      div.checkbox {
        margin: 0;
        float: right;
      }
    }

    div.published, div.downloadable {
      @extend %status-box;
      padding-left: 32px;
      background-color: rgba($warning, .85);

      &.checked {
        background-color: rgba($success, .85);
      }
    }

    div.save-to-add-tracks {
      @extend %status-box;
      background-color: rgba($info, .85);

      i.fa-exclamation-circle {
        margin-right: 2px;
        font-size: 16px;
      }
    }

    button.submit-btn {
      margin-right: 11px;
    }

    a.cancel {
      text-decoration: underline;
      color: white;
    }
  }
}