@import "variables";

div#admin {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(51, 51, 51, .75);
  box-shadow: 0 0 10px 1px black;

  .on {
    background-color: #47a447;
  }
  .off {
    background-color: #d2322d;
  }

  div#errors {
    ul {
      padding: 0;
      list-style: none;
    }
  }

  ul.nav {
    margin-bottom: 15px;

    li a:hover {
      background-color: transparent;
      color: white;
    }
    li.active a,
    li.active a:hover  {
      background-color: white;
      color: $pink;
    }
  }

  table {
    margin: 15px 0;

    th {
      border: none;
    }

    td {
      border-color: rgba(181, 181, 181, .1);
    }

    @media (max-width: 419px) {
      th.published, td.published,
      th.cover, td.cover {
        display: none;
      }
    }
    th.published, td.published {
      width: 35px;

      div.circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    th.date, td.date {
      width: 84px;
    }
    @media (max-width: 599px), (min-width: 768px) and (max-width: 991px) {
      th.address, td.address {
        display: none;
      }
    }
    th.edit, td.edit {
      width: 28px;
      padding: 3px 5px 2px 5px;
      text-align: center;

      a {
        display: none;
        font-size: 18px;
        color: #333333;
      }
      @media (max-width: 767px) {
        a {
          display: inline !important;
        }
      }
      a:hover {
        color: white;
      }
    }
  }

  form {
    span#hint {
      margin-left: 5px;
      text-decoration: underline;
    }

    div.published-toggle {
      margin: 0 -15px 15px -15px;
      padding: 5px 15px;
      display: block;
      text-align: center;
      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }

      &.on {
        span.off-text {
          display: none;
        }
      }
      &.off {
        span.on-text {
          display: none;
        }
      }

      a {
        text-decoration: underline;
      }
    }

    a.cancel {
      margin-left: 15px;
      text-decoration: underline;
    }
  }
}