div#albums {
  margin: 0 -15px;

  div.item {
    padding: 0 15px;
  }

  div.cover-art, div.album-details {
    max-width: 438px;
    margin: 0 auto;
  }

  div.cover-art {
    padding-bottom: 15px;
    position: relative;

    img {
      width: 100%;
      box-shadow: 0 1px 3px rgba(black, .5);
    }

    div.album-notes {
      width: calc(100% - 30px);
      height: calc(100% - 15px);
      padding: 10px 20px;
      position: absolute;
      top: 0;
      right: 15px;
      display: none;
      line-height: 24px;
      font-weight: lighter;
      color: white;
      background-color: rgba(black, .6);
    }
  }

  div.album-details {
    div.release-date {
      margin-bottom: 10px;
      font-size: 16px;
      font-style: italic;
      opacity: .6;
    }

    div.track-list {
      margin-bottom: 15px;

      div.inline-controls {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        float: left;

        span.fa-stack {
          position: relative;
          top: 1px;
        }
      }

      a.btn-main {
        padding: 0 8px;
        float: right;
        font-size: 11px;
        line-height: 22px;
      }
    }
  }

  div.store-links {
    a {
      display: block;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      div.btn-main {
        height: 70px;
        margin-bottom: 5px;
        padding: 20px 0;
        display: block;
        background-repeat: no-repeat;
        background-size: auto 110%;
        background-position: center;

        &.bandcamp {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/bandcamp_transparent.png);
        }

        &.itunes {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/itunes_transparent.png);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  div#albums {
    margin: 0 auto;

    h2.page-title {
      text-align: left;
      padding-left: 3px;
    }
  }
}