@import "variables";

div#albums {
  margin: 0 -15px;

  div.item {
    padding: 0 15px;
  }

  div.cover-art, div.album-details {
    max-width: 438px;
    margin: 0 auto;
  }

  div.cover-art {
    padding-bottom: 15px;
    position: relative;

    img {
      width: 100%;
      box-shadow: 0 2px 5px rgba(black, .5);
    }

    div.album-notes {
      width: calc(100% - 30px);
      height: calc(100% - 15px);
      padding: 10px 20px;
      position: absolute;
      top: 0;
      right: 15px;
      display: none;
      line-height: 24px;
      font-weight: lighter;
      background-color: rgba(black, .8);
    }
  }

  div.album-details {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(black, .35);

    div.release-date {
      margin-bottom: 10px;
      font-style: italic;
      color: #999999;
    }

    div.track-list {
      margin-bottom: 15px;
      font-weight: lighter;
      color: $light-grey;

      div.inline-controls {
        width: 20px;
        height: 22px;
        margin-right: 8px;
        float: left;
      }

      a.download {
        padding: 0 8px;
        float: right;
        font-family: $header-font;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        background-color: rgba(black, .6);
        transition: all .3s ease;

        &:hover {
          background-color: darken($red, 5%);
        }
      }
    }
  }

  div.store-links {
    a {
      display: block;
      box-shadow: 0 2px 5px rgba(black, .25);

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      div.button {
        height: 70px;
        background-color: rgba(black, .6);
        background-repeat: no-repeat;
        background-size: auto 110%;
        background-position: center;
        transition: all .3s ease;

        &.bandcamp {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/bandcamp_transparent.png);
        }

        &.itunes {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/itunes_transparent.png);
        }

        &.download {
          padding: 20px 15px;
          text-align: center;
          font-family: $header-font;
          font-size: 22px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: white;
        }

        &:hover {
          background-color: darken($red, 5%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  div#albums {
    margin: 0 auto;

    h2.page-title {
      text-align: left;
      padding-left: 3px;
    }
  }
}