@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui-1.11.4.custom";
@import "jquery.fancybox";
@import "font-awesome";
@import "transformicons";
@import "switchery";
@import "variables";
@import "albums";
@import "buttons";
@import "fancybox";
@import "flash_messages";
@import "flash_modal";
@import "inline_player";
@import "layouts";
@import "main_player";
@import "nav";
@import "pages";
@import "pagination";
@import "photos";
@import "shows";
@import "standalone";
@import "subscribers";
@import "tweets";
@import "utilities";
@import "videos";

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: $main-font;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
  border: none;
}

div.tooltip-inner {
  padding: 6px 8px;
}

.field-with-errors:not(label) {
  border: 1px solid $danger;
  box-shadow: inset 0 0 5px rgba($danger, .5);
}