div#sign-in {
  div.checkbox {
    margin: 7px 0;
    float: left;
  }

  input.btn-main {
    float: right;
  }

  div.reset-password {
    margin-top: 15px;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }
}

div#request-password-reset {
  label {
    margin-bottom: 10px;
    text-align: center;
    line-height: 17px;
    font-weight: lighter;
  }

  input[type="email"] {
    width: calc(100% - 100px);
    float: left;
  }

  input.btn-main {
    width: 90px;
    padding: 0;
    float: right;
  }
}

div#update-password {
  i {
    width: calc(100% - 95px);
    float: left;
    line-height: 17px;
    font-weight: lighter;
    font-style: normal;
  }

  input.btn-main {
    width: 85px;
    padding: 0;
    float: right;
  }
}