body.blank {
  div#wrapper {
    padding: 0;

    a.flash-main {
      position: absolute;
      top: 0;
      font-family: $header-font;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all .3s ease;

      &:hover {
        color: white;
        background-color: darken($red, 5%);
      }
    }

    div#main {
      padding-top: 76px;
    }
  }
}