div#flash-modal {
  z-index: 9999;

  &.modal-notice div.col-xs-3 {
    background-color: $blue;
  }

  &.modal-alert div.col-xs-3 {
    background-color: $red;
  }

  div.modal-dialog {
    max-width: 100%;
    width: 375px;
    margin: 0 auto;
    padding: 110px 15px 15px 15px;
  }

  div.modal-content {
    border-radius: 0;

    div.modal-body.row {
      height: 160px;
      margin: 0;
      padding: 0;
    }

    div.col-xs-3 {
      height: 100%;
      font-size: 22px;
      color: white;

      span.fa-stack {
        margin: -1em 0 0 -1em;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    div.col-xs-9 {
      padding-top: 60px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: lighter;

      a.close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #777777;
        transition: all .3s ease;

        &:hover {
          color: #999999;
        }
      }
    }
  }
}

div.modal-backdrop {
  z-index: 9000;
}