@import "variables";

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: $main-font;
}

div#wrapper {
  min-height: 100%;
  padding-top: $nav-height;
  position: relative;
  background-color: $main-background-color;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

a:hover {
  text-decoration: none;
}

.btn-pink {
  background-color: $pink;
  color: white;
}
.btn-pink:hover {
  background-color: #E51B3D;
  color: white;
}

div.tooltip div.tooltip-inner {
  padding: 6px 8px;
  background-color: $pink;
}
div.tooltip.top div.tooltip-arrow {
  border-top-color: $pink;
}
div.tooltip.right div.tooltip-arrow {
  border-right-color: $pink;
}

div#banner {
  padding-top: 40px;
  padding-bottom: 5px;
  // This trick allows you to layer a background color over an image.
  background: linear-gradient(to bottom, rgba(white, .75) 0%, rgba(white, .75) 50%, rgba(white, 1) 100%),
    url('band_cropped2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;

  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  div#banner {
    padding-top: 140px;
    padding-bottom: 10px;
  }
}

div#main {
  height: 400px;
  color: white;
  background-color: $blue;
  // background: linear-gradient(to bottom, $blue 0%, darken($blue, 5%) 100%);

  div#content {
    display: none;
  }

  h2 {
    font-size: 28px;
  }
}

footer {
  padding: 40px 0;

  div.copyright {
    text-align: center;
    position: relative;
    font-weight: bold;

    span.admin {
      position: absolute;
      right: 0;

      a {
        color: #333333;
        text-decoration: underline;
      }
    }
  }
}