@import "variables";

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: $main-font;
}

div#wrapper {
  min-height: 100%;
  padding-top: $nav-height;
  position: relative;
  background-color: $main-background-color;
}

h2 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 28px;
  line-height: 22px;
  text-shadow: 0 1px 1px rgba(black, .35);
}

a:hover, a:focus {
  text-decoration: none;
}

.btn-pink {
  background-color: $pink;
  color: white;
}

.btn-pink:hover {
  background-color: #E51B3D;
  color: white;
}

div.tooltip div.tooltip-inner {
  padding: 6px 8px;
  background-color: $pink;
}

div.tooltip.top div.tooltip-arrow {
  border-top-color: $pink;
}

div.tooltip.right div.tooltip-arrow {
  border-right-color: $pink;
}

div#banner {
  padding-top: 40px;
  padding-bottom: 5px;
  background: linear-gradient(to bottom, rgba(white, .75) 0%, rgba(white, .75) 50%, rgba(white, 1) 100%),
    url(band_cropped2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;

  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  div#banner {
    padding-top: 140px;
    padding-bottom: 10px;
  }
}

div#main {
  padding: 40px 0;
  color: white;
  // Treating the background color as a gradient allows you to layer it over an image.
  background: linear-gradient(to right, rgba(darken($blue, 15%), .5) 0%, rgba(darken($blue, 15%), .5) 100%),
    url(night_sky_bw.jpeg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
}

@media (min-width: 459px) {
  div#main {
    background-size: 100%;
  }
}

div#content {
  max-width: 720px;
  margin: 0 auto;
}

footer {
  padding: 40px 0;

  div.copyright {
    text-align: center;
    position: relative;
    font-weight: bold;

    span.admin {
      position: absolute;
      right: 0;
      font-size: 12px;

      a {
        color: #333333;
        text-decoration: underline;
      }
    }
  }
}