@import "variables";

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: $main-font;
}

div#wrapper {
  min-height: 100%;
  padding-top: $nav-height;
  position: relative;
  background-color: $light-grey;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: $main-font;
}

.page-title {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: $header-font;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $light-grey;
  text-shadow: 0 1px 1px rgba(black, .35);
}

a:hover, a:focus {
  text-decoration: none;
}

div.tooltip-inner {
  padding: 6px 8px;
}

a#banner {
  img {
    width: 100%;
  }
}

div#main {
  padding: 40px 0;
  color: white;
  background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

div.fixed-width {
  max-width: 720px;
  margin: 0 auto;
}

footer {
  padding: 30px 0 40px 0;

  div.copyright {
    text-align: center;
    position: relative;
    font-weight: bold;

    span.admin {
      position: absolute;
      right: 0;
      font-size: 12px;

      a {
        text-decoration: underline;
        color: #333333;
      }
    }
  }
}