html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: $main-font;
}

div#wrapper {
  min-height: 100%;
  padding-top: $nav-height;
  padding-bottom: $footer-height;
  position: relative;
  background-color: $light-grey;
}

a#banner {
  display: block;

  img {
    width: 100%;
  }
}

div#main {
  padding: 40px 0;
  color: white;
  background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

footer {
  width: 100%;
  height: $footer-height;
  padding: 60px 0;
  position: absolute;
  bottom: 0;

  div.copyright {
    text-align: center;
    position: relative;
    font-weight: bold;

    span.admin {
      position: absolute;
      right: 0;
      font-size: 12px;

      a {
        text-decoration: underline;
        color: #333333;
      }
    }
  }
}