@import "variables";

div#media {
  div.row:last-child {
    margin-bottom: 60px;
  }

  h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: $light-red;
  }

  iframe {
    width: 100%;
    margin-bottom: 5px;
  }
}