@import "variables";

div#music {
  text-align: center;

  div.cover-art, div.album-details {
    max-width: 438px;
    margin: 0 auto;
  }

  div.cover-art {
    padding-bottom: 15px;
    position: relative;

    img {
      width: 100%;
      box-shadow: 0 2px 5px rgba(black, .5);
    }

    div.album-notes {
      width: calc(100% - 30px);
      height: calc(100% - 15px);
      padding: 10px 20px;
      position: absolute;
      top: 0;
      right: 15px;
      display: none;
      line-height: 24px;
      font-weight: lighter;
      background-color: rgba(black, .8);
    }
  }

  div.album-details {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(black, .35);

    div.release-date {
      margin-bottom: 10px;
      font-style: italic;
      color: #999999;
    }

    ol {
      margin-bottom: 15px;
      padding: 0;
      list-style-position: inside;
      font-weight: lighter;
      color: $light-grey;
    }
  }

  div.store-links {
    display: inline-block;

    a {
      margin-bottom: 15px;
      float: left;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(black, .25);

      &:first-child {
        margin-right: 15px;
      }

      div.button {
        width: 165px;
        height: 70px;
        border-radius: 8px;
        background-size: 100%;
        background-position: center;
        box-shadow: inset 1px 1px 2px white;

        &.bandcamp {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/bandcamp.png);
        }

        &.itunes {
          background-image: url(http://toddfarrell-production.s3.amazonaws.com/images/itunes.png);
        }
      }
    }
  }

  @media (max-width: 374px) {
    div.store-links {
      width: 165px;
    }
  }
}

@media (min-width: 768px) {
  div#music {
    text-align: left;

    h2.page-title {
      text-align: left;
      padding-left: 3px;
    }
  }
}