$nav-border-width: 2px;
$nav-border: $nav-border-width solid rgba(black, .25);

nav.navbar {
  width: 100%;
  height: $nav-height;
  position: fixed;
  top: 0;
  z-index: 8000; // Must be less than z-index of Fancybox
  margin: 0;
  border: none;
  border-bottom: $nav-border;
  border-radius: 0;
  background-color: $red;

  %navbar-link {
    padding: 15px;
    text-transform: uppercase;
  }

  div.navbar-header {
    height: $nav-height - $nav-border-width;
    margin: 0;

    a.navbar-brand {
      padding: 0;
      margin-left: 0;

      span {
        @extend %navbar-link;
        padding-left: 0;
        display: inline-block;
        font-size: 20px;
      }
    }

    button.tcon {
      margin-top: 2px;
    }
  }

  div.navbar-collapse {
    max-height: none;
    border-top: none;
    border-bottom: $nav-border;
    background-color: $red;
    box-shadow: none;

    ul.navbar-nav {
      a {
        @extend %navbar-link;
        text-align: center;
        font-weight: bold;
        transition: all .3s ease;

        &.active {
          color: inherit;
          background-color: rgba(black, .25);
          cursor: default;
        }

        &:hover:not(.active) {
          color: $slate;
          background-color: transparent;
        }
      }
    }
  }
}