$page-height: 760px;
$brand-font: "IM Fell DW Pica SC", serif;
$audio-font: "Aldrich", sans-serif;
$bright-white: #FFF;
$off-white: #E5E5E5;
$lighter-grey: #363636;
$light-grey: #303030;
$dark-grey: #272727;
$black: #1A1819;
$orange: #FF8C00;
$gold: #C09853;

body {
  position: relative;
  background: url("http://toddfarrell.s3.amazonaws.com/images/navy_blue.png") $light-grey;
  color: $off-white;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

a {
  color: $off-white;
}
a:hover {
  color: $bright-white;
  text-decoration: none;
}

div#stripe {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 100px;
  z-index: 1;
  background-color: $black;
}

nav {
  height: $page-height;
  margin-top: 160px;;
  padding: 0 !important;
  position: relative;

  div.background {
    width: 125px;
    height: $page-height;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px 1px $black;
  }

  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 2;
    list-style: none;
    font-size: 20px;

    li {
      text-align: right;

      div.arrow {
        float: right;
        border-right: 20px solid $black;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
      }

      span {
        width: 125px;
        padding: 4px 15px 4px 0;
        display: inline-block;
        float: right;
        border-top: 1px solid $dark-grey;
        background-color: $black;
      }
    }

    li:last-child span {
      border-bottom: 1px solid $dark-grey;
    }
  }
}

div#main {
  position: relative;

  div#logo {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 20px;
    left: -105px;
    z-index: 2;
    border: 4px solid $lighter-grey;
    border-radius: 50%;
    background-image: url("http://toddfarrell.s3.amazonaws.com/images/bird_small.png");
    box-shadow: inset 0 0 20px 4px $black;

    div#play-container,
    div#pause-container {
      width: 100%;
      height: 100%;
      position: relative;

      div#play {
        width: 0;
        height: 0;
        position: absolute;
        top: 63px;
        left: 70px;
        border-left: 20px solid $off-white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      div#pause {
        width: 20px;
        height: 25px;
        position: absolute;
        top: 65px;
        left: 67px;
        border-left: 7px solid $off-white;
        border-right: 7px solid $off-white;
      }
    }
  }
  div#logo:hover {
    border-color: $off-white;
    cursor: pointer;

    div#play-container div#play {
      border-left-color: $bright-white;
    }
    div#pause-container div#pause {
      border-color: $bright-white;
    }
  }

  div#next {
    position: absolute;
    top: 118px;
    left: 74px;
    z-index: 3;

    div.ff {
      width: 0;
      height: 0;
      display: inline-block;
      border-left: 16px solid $off-white;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }

  div#prev {
    position: absolute;
    top: 118px;
    left: -160px;
    z-index: 3;

    div.rew {
      width: 0;
      height: 0;
      display: inline-block;
      border-right: 16px solid $off-white;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }

  div#next:hover div.ff {
    cursor: pointer;
    border-left-color: $bright-white;
  }
  div#prev:hover div.rew {
    cursor: pointer;
    border-right-color: $bright-white;
  }

  header {
    height: 160px;
    position: relative;

    h1 {
      margin: 60px 0 10px 75px;
      font-family: $brand-font;

      span {
        margin-left: 4px;
        color: $black;
      }
    }
    h1:hover {
      color: $bright-white;
    }
    div#now-playing {
      width: 310px;
      height: 35px;
      padding: 8px 0 0 10px;
      position: absolute;
      bottom: 12px;
      left: 140px;
      z-index: 4;
      border-top: 1px solid #333;
      border-left: 1px solid #333;
      border-radius: 4px;
      background: #4a663d; /* Old browsers */
      background: -moz-linear-gradient(left,  #4a663d 0%, #384c2d 40%, #384c2d 60%, #4a663d 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4a663d), color-stop(40%,#384c2d), color-stop(60%,#384c2d), color-stop(100%,#4a663d)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* IE10+ */
      background: linear-gradient(to right,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a663d', endColorstr='#4a663d',GradientType=1 ); /* IE6-9 */
      box-shadow: inset 0 0 10px 0 #333;
      font-family: $audio-font;
      font-size: 16px;
      color: $dark-grey;
    }
  }

  div#content {
    padding: 15px 30px 15px 30px;
  }

  div#sidebar {
    width: 336px;
    height: $page-height;
    padding: 12px 0 0 0;
    float: left;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px 1px $black;

    h2 {
      margin-left: 15px;
      font-size: 18px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $dark-grey;

        img {
          width: 48px;
          height: 48px;
          margin: 5px 15px 0 10px;
          float: left;
          border-radius: 4px;
          box-shadow: 2px 2px 5px 0 $black;
        }

        div.content {
          width: 248px;
          float: left;

          span.time {
            float: right;
          }

          p {
            margin: 0;
            font-size: 13px;
          }

          a {
            font-size: 16px;
            color: $gold;
          }
        }
      }

      li:last-child {
        margin: 0;
        border: none;
      }
    }
  }
}

footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: $black;

  div[class*="col-"] {
    padding: 0;

    p.copyright {
      margin: 5px 0 0 -125px;
      font-size: 12px;

      a {
        text-decoration: underline;
      }
    }
  }
}

/* SHOWS */
div#shows {
  div.row {
    margin: 0 -5px 20px -15px;
    padding: 10px 0;
    border-radius: 4px;
    background-color: $black;
    box-shadow: 4px 4px 10px 0 #000;
  }

  h3 {
    margin: 0 0 5px 0;
    font-size: 20px;
    color: $gold;
  }

  p {
    margin: 0;

    span {
      margin-right: 5px;
      color: $gold;
    }
  }
}

/* RELEASES */
div#releases {
  div#headline {
    margin-bottom: 20px;
    padding: 10px 15px 12px 15px;
    border-radius: 4px;
    background: #363636; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #363636 0%, #363636 50%, #272727 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#363636), color-stop(50%,#363636), color-stop(100%,#272727)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #363636 0%,#363636 50%,#272727 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #363636 0%,#363636 50%,#272727 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #363636 0%,#363636 50%,#272727 100%); /* IE10+ */
    background: linear-gradient(135deg,  #363636 0%,#363636 50%,#272727 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#272727',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 10px 1px $black;

    p {
      margin-bottom: 5px;
      color: $gold;
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;

      li {
        padding-left: 5px;
        display: inline-block;
      }

      li::after {
        content: "*";
        margin-left: 10px;
      }

      li.row-end::after {
        content: none;
      }
    }
  }

  div.row {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }

  ol {
    padding-left: 20px;
  }

  p.album-links {
    margin: 0;
    font-size: 16px;

    span {
      margin-right: 5px;
      color: $gold;
    }
  }

  div.modal-dialog {
    width: 420px;
  }

  div.modal-content {
    background-color: $black;
  }

  button.close {
    position: absolute;
    top: 8px;
    right: 15px;
    color: $off-white;
    opacity: 1;
  }

  button.close:hover {
    color: $bright-white;
  }

  img.album-cover-small {
    width: 195px;
    height: 195px;
    border-radius: 4px;
    background-color: $black;
    box-shadow: 4px 4px 10px 0 $black;
  }

  img.album-cover-large {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    background-color: $black
  }
}