$brand-font: "IM Fell DW Pica SC", serif;
$audio-font: "Aldrich", sans-serif;
$bright-white: #FFF;
$off-white: #E5E5E5;
$light-grey: #303030;
$lighter-grey: #363636;
$dark-grey: #272727;
$black: #1A1819;
$orange: #FF8C00;

body {
  background-color: $light-grey;
  color: $off-white;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

a {
  color: $off-white;
}
a:hover {
  color: $bright-white;
  text-decoration: none;
}

div#stripe {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 100px;
  z-index: 1;
  background-color: $black;
}

nav {
  width: 100%;
  height: 640px;
  margin-top: 160px;
  padding: 30px 25px 20px 0 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $lighter-grey;
  box-shadow: 0 0 15px 0 $black;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    font-size: 20px;
  }
}

div#main {
  position: relative;

  div#logo {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 20px;
    left: -105px;
    z-index: 2;
    border: 4px solid $lighter-grey;
    border-radius: 50%;
    background-image: url("http://toddfarrell.s3.amazonaws.com/images/bird_small.png");
    box-shadow: inset 0 0 20px 4px $black;

    div#play-container,
    div#pause-container {
      width: 100%;
      height: 100%;
      position: relative;

      div#play {
        width: 0;
        height: 0;
        position: absolute;
        top: 63px;
        left: 70px;
        border-left: 20px solid $off-white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      div#pause {
        width: 20px;
        height: 25px;
        position: absolute;
        top: 65px;
        left: 67px;
        border-left: 7px solid $off-white;
        border-right: 7px solid $off-white;
      }
    }
  }
  div#logo:hover {
    border-color: $off-white;
    cursor: pointer;

    div#play-container div#play {
      border-left-color: $bright-white;
    }
    div#pause-container div#pause {
      border-color: $bright-white;
    }
  }

  div#next {
    position: absolute;
    top: 118px;
    left: 74px;
    z-index: 3;

    div.ff {
      width: 0;
      height: 0;
      display: inline-block;
      border-left: 16px solid $off-white;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }

  div#prev {
    position: absolute;
    top: 118px;
    left: -160px;
    z-index: 3;

    div.rew {
      width: 0;
      height: 0;
      display: inline-block;
      border-right: 16px solid $off-white;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }

  div#next:hover div.ff {
    cursor: pointer;
    border-left-color: $bright-white;
  }
  div#prev:hover div.rew {
    cursor: pointer;
    border-right-color: $bright-white;
  }

  header {
    height: 160px;
    position: relative;

    h1 {
      margin: 60px 0 10px 75px;
      font-family: $brand-font;

      span {
        margin-left: 4px;
        color: $black;
      }
    }
    h1:hover {
      color: $bright-white;
    }
    div#now-playing {
      width: 310px;
      height: 35px;
      padding: 8px 0 0 10px;
      position: absolute;
      bottom: 12px;
      left: 140px;
      z-index: 4;
      border-top: 1px solid #333;
      border-left: 1px solid #333;
      border-radius: 4px;
      background: #4a663d; /* Old browsers */
      background: -moz-linear-gradient(left,  #4a663d 0%, #384c2d 40%, #384c2d 60%, #4a663d 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4a663d), color-stop(40%,#384c2d), color-stop(60%,#384c2d), color-stop(100%,#4a663d)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* IE10+ */
      background: linear-gradient(to right,  #4a663d 0%,#384c2d 40%,#384c2d 60%,#4a663d 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a663d', endColorstr='#4a663d',GradientType=1 ); /* IE6-9 */
      box-shadow: inset 0 0 10px 0 #333;
      font-family: $audio-font;
      font-size: 16px;
      color: $dark-grey;
    }
  }

  div#content {
    padding: 15px 20px 15px 30px;
  }

  div#sidebar {
    height: 640px;
    padding: 15px 20px 15px 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $lighter-grey;
    box-shadow: 0 0 15px 0 $black;
  }
}