div.pagination-links {
  padding-top: 20px;
  text-align: center;

  a {
    width: 80px;
    padding: 4px 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(black, .25);

    &:not(:last-child) {
      margin-right: 11px;
    }

    i.fa {
      position: relative;
      top: 2px;
      font-size: 22px;

      &.fa-caret-left {
        margin-right: 3px;
      }

      &.fa-caret-right {
        margin-left: 3px;
      }
    }
  }
}