@import "variables";

div#releases {
  text-align: center;

  h2 {
    margin: 0 0 10px 0;
    padding-left: 3px;
    font-size: 28px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(black, .35);
  }

  div.cover, div.details {
    max-width: 500px;
    margin: 0 auto;
  }

  div.cover {
    padding-bottom: 15px;

    img {
      width: 100%;
      box-shadow: 0 2px 5px rgba(black, .5);
    }
  }

  div.details {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(black, .35);

    div.release-date {
      margin-bottom: 10px;
      font-style: italic;
      color: #999999;
    }

    ol {
      margin-bottom: 15px;
      padding: 0;
      list-style-position: inside;
      font-weight: lighter;
    }
  }

  div.store-links {
    display: inline-block;

    a {
      margin-bottom: 15px;
      float: left;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(black, .25);

      &:first-child {
        margin-right: 15px;
      }

      div.button {
        width: 165px;
        height: 70px;
        border-radius: 8px;
        background-size: 100%;
        background-position: center;
        box-shadow: inset 1px 1px 2px white;

        &.bandcamp {
          background-image: url(bandcamp.png);
        }

        &.itunes {
          background-image: url(itunes.png);
        }
      }
    }
  }

  @media (max-width: 374px) {
    div.store-links {
      width: 165px;
    }
  }
}

@media (min-width: 768px) {
  div#releases {
    text-align: left;
  }
}