$dark-border: 1px solid rgba(black, .25);
$light-border: 1px solid rgba(white, .15);

div#shows {
  div.shows-table {
    border-bottom: $light-border;

    div.row {
      margin: 0;

      &.header {
        border-bottom: $dark-border;
        font-weight: bold;
        text-transform: uppercase;
      }

      &.show {
        border-top: $light-border;
        border-bottom: $dark-border;
        line-height: 40px;
      }
    }

    div[class*="col"] {
      padding: 5px;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
      }
    }

    a {
      transition: all .3s ease;

      &:hover {
        opacity: .8;
      }

      &.venue-link {
        text-decoration: underline;
      }

      &.google-maps-link {
        display: none;
      }

      &.tickets-link {
        float: right;
        display: none;

        i.fa-ticket {
          position: relative;
          top: 9px;
        }

        span.btn-main {
          padding: 0 15px;
          display: inline-block;
          font-size: 14px;
        }
      }

      i.fa {
        font-size: 22px;
      }
    }

    @media (min-width: 768px) {
      div.multiline {
        line-height: 20px;
      }
    }

    div.notes {
      font-size: 12px;
    }

    @media (min-width: 375px) {
      div.location {
        padding-left: 23px;
        position: relative;

        a.google-maps-link {
          position: absolute;
          top: 7px;
          left: 0;
          display: inline-block;
        }

        a.tickets-link {
          display: inline-block;
        }
      }
    }
  }

  @media (max-width: 767px) {
    div.shows-table {
      margin: 0 -15px;
    }
  }
}