@import "variables";

div#shows {
  div.row {
    margin: 0 0 20px -15px;
    padding: 10px 0;
    border-radius: 4px;
    background-color: $dark-grey;
    box-shadow: 4px 4px 10px 0 #000;
  }

  h3 {
    margin: 0 0 5px 0;
    font-size: 20px;
  }

  p {
    margin: 0;

    span {
      margin-right: 5px;
    }
  }
}