div#shows {
  div.shows-table {
    text-shadow: 0 1px 1px rgba(black, .35);

    div.row {
      border-bottom: 1px solid rgba(white, .15);

      &.show {
        line-height: 40px;
        font-weight: lighter;

        div.notes {
          font-size: 12px;
          color: #DDDDDD;
        }
      }

      a {
        text-decoration: underline;
        color: white;
        transition: all .3s ease;

        &:hover {
          color: $slate;
        }
      }

      div[class*="col"] {
        padding: 5px;
      }

      div.location {
        padding-left: 23px;
        position: relative;

        a.google-maps-link {
          position: absolute;
          top: 3px;
          left: 0;
          font-size: 22px;
        }
      }
    }

    @media (min-width: 768px) {
      div.row {
        margin: 0;

        div.multiline {
          line-height: 20px;
        }
      }
    }
  }
}