@import "variables";

div#shows {
  h3.title {
    margin: 0 -15px 15px -15px;
    padding: 5px 15px;
    text-align: center;
    font-style: italic;
    background-color: rgba(245, 245, 245, .15);
    color: $white;
  }
  @media (min-width: 768px) {
    h3.title {
      margin: 0 0 15px 0;
    }
  }

  div.row {
    margin: 0 0 15px 0;
    padding: 10px 0;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, .65);
    box-shadow: 0 0 10px 1px $black;
  }

  h3 {
    margin: 0 0 5px 0;
    font-size: 20px;
    color: $pink;
  }

  @media (max-width: 499px) {
    div.details {
      width: 100%;
    }
  }
  div.details {
    p {
      margin: 0;

      span {
        margin-right: 5px;
        color: $pink;
      }
    }
  }

  div.more {
    display: none;
  }

  p.no-results {
    margin-bottom: 15px;
  }

  a.toggle {
    margin-bottom: 15px;
    display: block;
    text-align: right;
  }
}