div#shows {
  div.shows-table {
    text-shadow: 0 1px 1px rgba(black, .35);

    div.row {
      border-bottom: 1px solid rgba(white, .15);

      &.show {
        line-height: 40px;
        font-weight: lighter;
      }

      div[class*="col"] {
        padding: 5px;

        &:first-child {
          padding-left: 10px;
        }

        &:last-child {
          padding-right: 10px;
        }
      }

      a {
        transition: all .3s ease;

        &:hover {
          color: $slate;
        }

        &.venue-link {
          text-decoration: underline;
        }

        &.google-maps-link {
          display: none;
        }

        &.tickets-link {
          float: right;
          display: none;

          i.fa-ticket {
            position: relative;
            top: 9px;
          }

          span.btn-main {
            padding: 0 15px;
            display: inline-block;
            font-size: 14px;
          }
        }

        i.fa {
          font-size: 22px;
        }
      }

      div.notes {
        font-size: 12px;
      }

      @media (min-width: 375px) {
        div.location {
          padding-left: 23px;
          position: relative;

          a.google-maps-link {
            position: absolute;
            top: 7px;
            left: 0;
            display: inline-block;
          }

          a.tickets-link {
            display: inline-block;
          }
        }
      }
    }

    @media (min-width: 768px) {
      div.row {
        margin: 0;

        div.multiline {
          line-height: 20px;
        }
      }
    }
  }
}