@import "variables";

div#twitter-stream {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;

  div.blur {
    width: 55px;
    height: 160px;
    position: absolute;

    &.blur-left {
      left: 0;
      background: linear-gradient(to right, rgba($main-background-color, 1) 0%, rgba($main-background-color, 0) 100%);
    }

    &.blur-right {
      right: 0;
      background: linear-gradient(to right, rgba($main-background-color, 0) 0%, rgba($main-background-color, 1) 100%);
    }
  }

  div.slider-container {
    padding: 10px 0;
    overflow-x: scroll;

    div.slider {
      padding: 0 15px;
      width: 7520px; // This is the width of 50 tweets plus margin and padding.
    }
  }

  a.tweet {
    width: 140px;
    height: 140px;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    box-shadow: 0 2px 5px rgba(black, .5);

    &:last-child {
      margin-right: 0;
    }

    div.overlay {
      border: 1px solid rgba(black, .25);
      font-size: 12px;
      line-height: 16px;
      color: $slate;
      text-shadow: 0 1px 1px rgba(black, .25);
      background: linear-gradient(to bottom right, rgba($red, .95) 0%, rgba($red, .95) 50%, darken(rgba($red, .95), 10%) 100%);

      div.name {
        height: 25px;
        padding: 5px 8px 3px 8px;
        border-bottom: 1px solid rgba(black, .25);
        font-size: 14px;
      }

      div.text {
        height: 84px;
        padding: 3px 8px 0 8px;
        overflow: hidden;
        border-top: 1px solid rgba(white, .15);
        color: #CCCCCC;
      }

      div.posted-at {
        height: 29px;
        padding: 8px 8px 5px 8px;
      }
    }
  }
}

@media (min-width: 768px) {
  div#twitter-stream {
    margin-left: -55px;
    margin-right: -55px;

    div.slider-container {
      padding-left: 55px;

      div.slider {
        padding: 0;
        width: 7545px; // This is the width of 50 tweets plus margin and padding.
      }
    }
  }
}