@import "variables";

$tweet-width: 140px;
$tweet-gutter: 10px;

@mixin tweet-container-width($tweets) {
  width: ($tweet-width + $tweet-gutter) * $tweets;
}

div#twitter-stream {
  margin: 0 (-$tweet-gutter) 30px (-$tweet-gutter);
  padding-left: $tweet-gutter;
  text-align: center;

  div.tweet-container {
    @include tweet-container-width(2);
    height: 160px;
    overflow: hidden;
    padding: 10px 0;
    display: inline-block;
  }

  @media (min-width: 470px) {
    div.tweet-container {
      @include tweet-container-width(3);
    }
  }

  @media (min-width: 768px) {
    div.tweet-container {
      @include tweet-container-width(4);
    }
  }

  @media (min-width: 992px) {
    div.tweet-container {
      @include tweet-container-width(6);
    }
  }

  @media (min-width: 1200px) {
    div.tweet-container {
      @include tweet-container-width(7);
    }
  }

  a.tweet {
    width: $tweet-width;
    height: 140px;
    margin: 0 $tweet-gutter 15px 0;
    float: left;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    box-shadow: 0 2px 5px rgba(black, .5);

    div.overlay {
      border: 1px solid rgba(black, .25);
      font-size: 12px;
      line-height: 16px;
      color: $slate;
      text-shadow: 0 1px 1px rgba(black, .25);
      background: linear-gradient(to bottom right, rgba($red, .95) 0%, rgba($red, .95) 50%, darken(rgba($red, .95), 10%) 100%);

      div.name {
        height: 25px;
        padding: 5px 8px 3px 8px;
        border-bottom: 1px solid rgba(black, .25);
        font-size: 14px;
      }

      div.text {
        height: 84px;
        padding: 3px 8px 0 8px;
        overflow: hidden;
        border-top: 1px solid rgba(white, .15);
        color: #CCCCCC;
      }

      div.posted-at {
        height: 29px;
        padding: 8px 8px 5px 8px;
      }
    }
  }
}