div#videos {
  i.fa-spinner {
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-size: 40px;
  }

  iframe {
    width: 100%;
    height: 216px; // Based on 414px screen width
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(black, .5);
  }

  @media (min-width: 768px) {
    iframe {
      height: 405px;
    }
  }

  div.carousel-caption {
    padding: 20px 25px;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(black, .8);

    h3 {
      margin: 0 0 10px 0;
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }
}