<div id="admin" class="fixed-width">
  <nav class="clearfix">
    <%= link_to "Shows", admin_shows_path, remote: true, class: "btn btn-blue active" %>
    <%= link_to "Photos", admin_photos_path, remote: true, class: "btn btn-blue" %>
    <%= link_to "Videos", admin_videos_path, remote: true, class: "btn btn-blue" %>
  </nav>
  <div id="admin-content">
    <%= render "admin/shows/shows" %>
  </div>
</div>