<%= render "shared/flash_messages" %>

<div id="admin-home" class="admin-nav clearfix">
  <% admin_nav_links.each do |text, url, icon, _roles| %>
    <% if admin_section_available?(text) %>
      <%= admin_nav_link_to(url) do %>
        <%= text.html_safe + fa_icon(icon) %>
      <% end %>
    <% end %>
  <% end %>
</div>