<div id="shows" class="max-width-sm">
  <h2 class="page-title"><%= @page.title %></h2>

  <div class="shows-table">
    <div class="row header">
      <div class="col-xs-2 text-center">
        Date
      </div>
      <div class="col-xs-5">
        Venue
      </div>
      <div class="col-xs-5 col-sm-3 location">
        Location
      </div>
      <div class="col-xs-2 hidden-xs text-center">
        Cover
      </div>
    </div>

    <%= render @shows %>
  </div>

  <div class="pagination-links clearfix">
    <%= pagination_links(@shows) %>
  </div>
</div>