<div id="shows" class="max-width-sm">
  <h2 class="page-title"><%= @page.title %></h2>

  <div class="shows-table">
    <div class="row header">
      <div class="col-xs-2">Date</div>
      <div class="col-xs-5">Venue</div>
      <div class="col-xs-5 location">Location</div>
    </div>

    <%= render @shows %>
  </div>

  <div class="pagination-links clearfix">
    <%= pagination_links(@shows) %>
  </div>
</div>