<% if notice.present? %>
  <div class="alert alert-warning alert-dismissable timer fade in">
    <%= notice %>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert alert-danger alert-dismissable timer fade in">
    <%= alert %>
  </div>
<% end %>