<div id="audio-controls" class="clearfix">
  <div id="my-jplayer" class="jp-jplayer"></div>
  <div id="prev">
    <div class="arrow-left"></div>
    <div class="arrow-left"></div>
  </div>
  <div id="circle">
    <div id="play-container">
      <div id="play"></div>
    </div>
    <div id="pause-container">
      <div id="pause"></div>
    </div>
  </div>
  <div id="next">
    <div class="arrow-right"></div>
    <div class="arrow-right"></div>
  </div>
  <div id="now-playing" class="hidden-xs">
    Now Playing: <span id="song-title"></span>
  </div>
</div>