<% if flash.any? %>
  <div id="flash-modal" class="modal fade <%= flash_modal_classes %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body row">
          <div class="col-xs-3">
            <%= flash_modal_icon %>
          </div>
          <div class="col-xs-9">
            <%= link_to "CLOSE", "javascript:void(0)", data: { dismiss: "modal" }, class: "close-btn" %>

            <% flash.each do |name, message| %>
              <div><%== message %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>