<footer>
  <div class="container">
    <%= render "layouts/twitter_stream", tweets: @tweets %>

    <div class="copyright">
      &copy; <%= Time.now.year %> BENCHMARKS
      <span class="admin"><%= admin_link %></span>
    </div>
  </div>
</footer>