<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <p class="copyright">Design by <%= link_to "Jack Whitis", "http://www.linkedin.com/in/jwhitis", target: "_blank" %> | &copy;2013 Todd Farrell, Jr. &amp; The Dirty Birds</p>
    </div>
  </div>
</div>