<ul>
  <li><%= link_to "Shows", shows_path, remote: true %></li>
  <li><%= link_to "Releases", releases_path, remote: true %></li>
  <li><%= link_to "Media", media_path, remote: true %></li>
  <li><%= link_to "Bio", bio_path, remote: true %></li>
</ul>