<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= render "layouts/main_player" %>

      <button type="button" class="tcon tcon-menu--xbutterfly pull-right visible-xs"
        data-toggle="collapse" data-target="#my-navbar-collapse" aria-label="toggle menu">
        <span class="tcon-menu__lines" aria-hidden="true"></span>
        <span class="tcon-visuallyhidden">toggle menu</span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="my-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to "Admin", admin_path, remote: true %></li>
        <% end %>
        <% @nav_links.each do |nav_link| %>
          <li><%= link_to nav_link.text, nav_link.url, remote: !!nav_link.page %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>