<div class="toggle visible-xs clearfix">
  <h3>Tweets</h3>
  <div class="arrow up"></div>
</div>
<ul>
  <% @tweets.each do |tweet| %>
    <li class="clearfix">
      <div class="image">
        <%= image_tag tweet.user.profile_image_url %>
      </div>
      <div class="content">
        <%= link_to tweet.user.screen_name, "https://twitter.com/#{tweet.user.screen_name}", target: "_blank" %>
        <span class="time"><%= tweet_time(tweet) %></span>
        <p><%== tweet.text %></p>
      </div>
    </li>
  <% end %>
</ul>