<h2>Dirty Birds Tweet!</h2>
<ul>
  <% @tweets.each do |tweet| %>
    <li class="clearfix">
      <%= image_tag tweet.user.profile_image_url %>
      <div class="content">
        <%= link_to tweet.user.screen_name, "https://twitter.com/#{tweet.user.screen_name}", target: "_blank" %>
        <span class="time"><%= tweet_time(tweet) %></span>
        <p><%== tweet.text %></p>
      </div>
    </li>
  <% end %>
</ul>