<div id="twitter-stream">
  <div class="blur blur-left"></div>
  <div class="blur blur-right"></div>
  <div class="slider-container">
    <div class="slider clearfix">
      <%= render tweets %>
    </div>
  </div>
</div>