<div id="twitter-feed">
  <div class="tweet-container">
    <%= render partial: "tweets/tweet", collection: tweets %>
  </div>
</div>

<script type="text/javascript">
  $("div#twitter-feed a.tweet").hover(function() {
    $(this).find("div.overlay").stop().fadeToggle(300);
  });
</script>