<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body class="blank">
  <div id="wrapper">
    <%= link_to_home_page class: "btn-main" do %>
      Enter the official <%= @site.title %> website
    <% end %>

    <%= render "layouts/main" %>
  </div>
</body>
</html>